.main {
  background-color: #bef5de;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  width: 25%;
  height: 30%;
  gap: 8px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
  justify-content: space-between;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

button {
  align-self: flex-end;
  justify-self: end;
  padding: 17px 30px;
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  background-color: #040607;
  color: white;
  border-color: #03aeee;
}

h1 {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;
}

select {
  font-size: 20px;
  height: 45px;
  padding: 10px;
  background-color: #F2F2F2;
  border-radius: 8px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
}

select:focus {
  outline: none;
  border-color: #03aeee;
  caret-color: #03aeee;
}